#container {
  display: flex;
  height: 800px; /* Or whatever */
  background-color: pink;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
 /* Or whatever */
  flex-basis: 200px;
   height: 100px; /* Or whatever */
  /* margin: auto;   Magic! */
  background-color: blue;
}

#item1, #item4, #item7{
	
	background-color: yellow;
	
}
#item3, #item6, #item9 {
	
	background-color: green;
	
}

